<div class="container-fluid ">
<div class="row bgabout">

<div class="col-md-12">
<h2 class="text-center white">Taskbob has a vision of Creating Happy Households </h2>
</div>
<div class="clearfix">&nbsp;</div>
<div class="col-md-6 abpad" style="border-right: solid 1px #457ca8;">
<div class="col-md-4 customericon">
<i class="fa fa-users" aria-hidden="true"></i>
</div>
<div class="col-md-8 customerinfo">
<h2 class="white">For customers</h2>
<span class="text-justify white">To be a trusted partner in home services by delivering timely, convenient, top quality & reliable services.</span>
</div>
</div>
<div class="col-md-6 abpad">
  <div class="col-md-4 customericon">
<i class="fa fa-car" aria-hidden="true"></i>
  </div>
  <div class="col-md-8 customerinfo">
  <h2 class="white">For service partners</h2>
  <span class="text-justify white">To better their earning potential & standard of living by creating opportunities to enhance skills & core competencies.</span>
  </div>
</div>

</div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="container-fluid ">
<div class="row">
  <div class="col-md-offset-4 col-md-8">
    <div class="clearfix">&nbsp;</div>
    <h3 class="about-content-header">About</h3>
    <div class="clearfix">&nbsp;</div>
  </div>
<div class="col-md-4 center-block">
<img src="images/green-home-icon.png" class="img-responsive" alt="" />
</div>
<div class="col-md-4">

<p class="text-justify">
What happens when 4 IIT graduates meet? An amazing company is conceptualized!
</p>
<p class="text-justify">
Meet our founders - Aseem Khare, Abhiroop Medhekar, Ajay Bhatt and Amit Chahalia.
</p>
<p class="text-justify">
These 4 guys realized that people are spending their precious free time on managing household chores instead of pursuing their passions! The problem also existed on service providers' side who had to struggle with minimal training and poor earning potential. Upset but elated, that they had a problem to solve, they set out to create a one stop solution for all household needs. And thus, Taskbob was founded in December 2014 with the vision of creating happy households!
</p>
</div>
<div class="col-md-4">
<p class="text-justify">
Today, Taskbob provides a range of home services like home cleaning, car spa, handymen services, drivers, appliance repair, maids on demand & the recently launched, at-home beauty services. To ensure that customers have a delightful experience, the service experts are chosen after a thorough background verification & once hired, undergo extensive training. Taskbob started out serving the households Powai but now gladly serves households all over Mumbai. Taskbob as a brand, has now become synonymous with reliability & quality in Mumbai. The journey so far has been exciting & invigorating, but we are only just getting started!
</p>
</div>
</div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="container-fluid ">
<div class="row teambg">
<div class="col-md-offset-4 col-md-8">
  <div class="clearfix">&nbsp;</div>
  <h3 class="about-content-header">Team TaskBob</h3>
  <div class="clearfix">&nbsp;</div>
</div>
<div class="col-md-4 center-block">
<img src="images/team.jpg" class="img-responsive" alt="" />
</div>
<div class="col-md-4">

<p class="text-justify">
A company is only as good as it's team. That's right, we have an amazing team! As we grew from locality to locality, so did the team! Each person that has joined the team has added a unique flavor to the company. We are an interesting hotch-potch of personalities, interests, beliefs & values but unified by the vision of Taskbob. Many of us left our cushy corporate jobs to solve this big problem. Many came from other startups because of their strong belief in this cause.
</p>

</div>
<div class="col-md-4">
<p class="text-justify">
We are a bunch of people who hate sub-standard, unprofessional service. We are a team which believes that technology can be used to improve people's lives. What drives us is the satisfaction we get upon creating every happy household - for customers and service providers alike. Everyday, new memories are created, whether it's over a work discussion, meeting or an office party! Each day, the team grows smarter, stronger & faster and thus, so does Taskbob.
</p>
</div>
</div>
</div>
