<div class="container top30">
<div class="row">
<div class="col-md-offset-3 col-md-6">

<div class="panel-body boxpanel">
        <h2 class="text-center">Have you forgot your Password?</h2>
		<div class="clearfix">&nbsp;</div>	<div class="clearfix">&nbsp;</div>	
        <form name="userForm"  novalidate>
		
			 <div class="form-group" ng-class="{ 'has-error' : userForm.emailId.$invalid && (userForm.emailId.$dirty || submitted)}">
			 <input type="email" name="emailId" class="form-control input-lg" ng-model="forgot.emailId" placeholder="Your Email Address" ng-required="true">
			 <p ng-show="userForm.emailId.$error.required && (userForm.emailId.$dirty || submitted)" class="help-block">Email is required.</p>
			 <p ng-show="userForm.emailId.$error.email && (userForm.emailId.$dirty || submitted)" class="help-block">Enter a valid email.</p>
			 </div>

		  
          <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-lg btn-block btn-primary" ng-click="doForgotpass(forgot)" disabled="disabled">Sign up</button>
          <br>
          <div class="signup-or-separator">
            <h6 class="text">or</h6>
            <hr>
          </div>          
          <p class="text-center text-muted">
            Don't have an account yet? <a ui-sref="signup">Sign up</a>
          </p>
          <p class="text-center text-muted">Already have an account? <a ui-sref="login">Log in now</a>
          </p>		  

		  
        </form>
	

<div class="clearfix">&nbsp;</div>		
</div>

</div>
</div>
</div>