<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-md-12 jumbotron">
<h2>Your home, your need, our responsibility.</h2>
<h4>Trusted Home &amp; Beauty Services, at your doorstep!</h4>
<a ui-sref="selecttocart" class="btn btn-primary ">Book Manually Now</a>
<span class="orhome">(or)</span>
<a ui-sref="uploadbyimage" class="btn btn-primary ">Upload Image Now</a>
</div>

<div class="col-xs-12 col-md-12">
<h1>	Authenticated : {{authenticated}}</h1>
	<h3 class="homesection-title">
		Special Ingredients of Taskbob 
	</h3>
	<div class="col-md-3 col-sm-6 feature">
		<div class="feature-image">
			<img src="images/timely.png"/>
		</div>
		<div class="feature-title">
			TIMELY
		</div>
		<div class="feature-content">
			We guarantee timely service, delivery & completion
		</div>
	</div>
	
	<div class="col-md-3 col-sm-6 feature">
		<div class="feature-image">
			<img src="images/timely.png"/>
		</div>
		<div class="feature-title">
			ASSURED
		</div>
		<div class="feature-content">
			We deliver what we commit to & assure you of a happy household
		</div>
	</div>
	<div class="col-md-3 col-sm-6 feature">
		<div class="feature-image">
			<img src="images/timely.png"/>
		</div>
		<div class="feature-title">
			TRANSPARENT
		</div>
		<div class="feature-content">
			We have a standardized rate card & share complete servicemen details 
		</div>
	</div>
	<div class="col-md-3 col-sm-6 feature">
		<div class="feature-image">
			<img src="images/timely.png"/>
		</div>
		<div class="feature-title">
			SAFE
		</div>
		<div class="feature-content">
			We pre-screen and verify all our service experts
		</div>
	</div>
</div>
<div class="col-xs-12 col-md-12 bgpat">

	<h3 style="text-align:center">THE HAPPY CUSTOMERS<h3>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div class="item active">
        <h4 class="itemhead">
              "Electrician & Key maker arrived within 15 minutes of selecting the required service on this very user-friendly app. Definitely recommend this to people who are tired of waiting for servicemen to show up or having to chase them to show up at all! Big thumbs up"
            </h4>
      </div>

      <div class="item" >
        <h4 class="itemhead">
              "Electrician & Key maker arrived within 15 minutes of selecting the required service on this very user-friendly app. Definitely recommend this to people who are tired of waiting for servicemen to show up or having to chase them to show up at all! Big thumbs up"
            </h4>
     </div>
    
      <div class="item" >
       <h4 class="itemhead">
              "Electrician & Key maker arrived within 15 minutes of selecting the required service on this very user-friendly app. Definitely recommend this to people who are tired of waiting for servicemen to show up or having to chase them to show up at all! Big thumbs up"
            </h4>
      </div>

      <div class="item" >
        <h4 class="itemhead">
              "Electrician & Key maker arrived within 15 minutes of selecting the required service on this very user-friendly app. Definitely recommend this to people who are tired of waiting for servicemen to show up or having to chase them to show up at all! Big thumbs up"
            </h4>
      </div>
    </div>

    <!-- Left and right controls -->
   
  </div>
<!-- /.container.slide-wrapper -->
</div>
</div>